examples/Set 1/pain.008.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.01" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.01" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>pain.008.001.01 schema implementation for the SEPA. 
    This is a modified version of the pain.008.001.01.xsd schema and is also applied to the urn:iso:std:iso:20022:tech:xsd:pain.008.001.01 namespace.   
    </xs:documentation>
	</xs:annotation>
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBANIdentifier"/>
				</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendmentInformationDetails1">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification8" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification8" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification3">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification5Choice"/>
			<xs:element name="BrnchId" type="BranchData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification5Choice2"/>
			<xs:element name="BrnchId" type="BranchData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max35Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CHIPSUniversalIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="CH[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CashAccount7">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification3Choice"/>
			<xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearingChannel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="RTNS"/>
			<xs:enumeration value="MPNS"/>
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemMemberIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Id" type="ExternalClearingSystemMemberCode"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AF"/>
			<xs:enumeration value="AX"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="DZ"/>
			<xs:enumeration value="AS"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AO"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AQ"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AW"/>
			<xs:enumeration value="AU"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BD"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BM"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="IO"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BF"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="KH"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="TD"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CX"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="KM"/>
			<xs:enumeration value="CG"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="CK"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CI"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="CU"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="DM"/>
			<xs:enumeration value="DO"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="EG"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="GQ"/>
			<xs:enumeration value="ER"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="FK"/>
			<xs:enumeration value="FO"/>
			<xs:enumeration value="FJ"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GF"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="TF"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GM"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="GH"/>
			<xs:enumeration value="GI"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GD"/>
			<xs:enumeration value="GP"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="GT"/>
			<xs:enumeration value="GG"/>
			<xs:enumeration value="GN"/>
			<xs:enumeration value="GW"/>
			<xs:enumeration value="GY"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="HM"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="HN"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="IQ"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IM"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="JM"/>
			<xs:enumeration value="JP"/>
			<xs:enumeration value="JE"/>
			<xs:enumeration value="JO"/>
			<xs:enumeration value="KZ"/>
			<xs:enumeration value="KE"/>
			<xs:enumeration value="KI"/>
			<xs:enumeration value="KP"/>
			<xs:enumeration value="KR"/>
			<xs:enumeration value="KW"/>
			<xs:enumeration value="KG"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="LS"/>
			<xs:enumeration value="LR"/>
			<xs:enumeration value="LY"/>
			<xs:enumeration value="LI"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MK"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MW"/>
			<xs:enumeration value="MY"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MQ"/>
			<xs:enumeration value="MR"/>
			<xs:enumeration value="MU"/>
			<xs:enumeration value="YT"/>
			<xs:enumeration value="MX"/>
			<xs:enumeration value="FM"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NR"/>
			<xs:enumeration value="NP"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="AN"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="NZ"/>
			<xs:enumeration value="NI"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NG"/>
			<xs:enumeration value="NU"/>
			<xs:enumeration value="NF"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="OM"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="PW"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="PY"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="PN"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="QA"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="RW"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="KN"/>
			<xs:enumeration value="LC"/>
			<xs:enumeration value="MF"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="VC"/>
			<xs:enumeration value="WS"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="RS"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="ZA"/>
			<xs:enumeration value="GS"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="LK"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="SY"/>
			<xs:enumeration value="TW"/>
			<xs:enumeration value="TJ"/>
			<xs:enumeration value="TZ"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="TT"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TC"/>
			<xs:enumeration value="TV"/>
			<xs:enumeration value="UG"/>
			<xs:enumeration value="UA"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="US"/>
			<xs:enumeration value="UM"/>
			<xs:enumeration value="UY"/>
			<xs:enumeration value="UZ"/>
			<xs:enumeration value="VU"/>
			<xs:enumeration value="VE"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VG"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="WF"/>
			<xs:enumeration value="EH"/>
			<xs:enumeration value="YE"/>
			<xs:enumeration value="ZM"/>
			<xs:enumeration value="ZW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation1">
		<xs:sequence>
			<xs:element name="CdtrRefTp" type="CreditorReferenceType1" minOccurs="0"/>
			<xs:element name="CdtrRef" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999.99 "/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DirectDebitTransaction1">
		<xs:sequence>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification8"/>
			<xs:element name="PreNtfctnId" type="Max35Text" minOccurs="0"/>
			<xs:element name="PreNtfctnDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectDebitTransactionInformation1">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1"/>
			<!-- Removed 25/03/09 to ensure that B2B and CORE schemes are never mixed in the account group -->
			<!--  <xs:element name="PmtTpInf" type="PaymentTypeInformation2" minOccurs="0"/>  -->
			<xs:element name="InstdAmt" type="CurrencyAndAmount"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
			<xs:element name="DrctDbtTx" type="DirectDebitTransaction1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification9" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification3"/>
			<xs:element name="DbtrAgtAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="Dbtr" type="PartyIdentification10"/>
			<xs:element name="DbtrAcct" type="CashAccount7"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification9" minOccurs="0"/>
			<xs:element name="InstrForCdtrAgt" type="Max140Text" minOccurs="0"/>
			<xs:element name="Purp" type="Purpose1Choice" minOccurs="0"/>
			<xs:element name="RgltryRptg" type="RegulatoryReporting2" minOccurs="0" maxOccurs="10"/>
			<xs:element name="Tax" type="TaxInformation2" minOccurs="0"/>
			<xs:element name="RltdRmtInf" type="RemittanceLocation1" minOccurs="0" maxOccurs="10"/>
			<xs:element name="RmtInf" type="RemittanceInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CstmrDrctDbtInitn" type="CstmrDrctDbtInitn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DunsIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EANGLNIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemMemberCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrumentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B2B"/>
			<xs:enumeration value="CORE"/>
			<!-- xs:enumeration value="B2C"/ ONLY for POC-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurposeCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification3">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0"/>
			<xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification5Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BIC" type="BICIdentifier"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification5Choice2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PrtryId" type="GenericIdentification3"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericIdentification3">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GenericIdentification4IdTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericIdentification4">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="IdTp" type="GenericIdentification4IdTp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Authstn" type="Max128Text" minOccurs="0" maxOccurs="2"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="Grpg" type="Grouping1Code"/>
			<xs:element name="InitgPty" type="PartyIdentification8"/>
			<xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Grouping1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SNGL"/>
			<xs:enumeration value="GRPD"/>
			<xs:enumeration value="MIXD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrumentCode"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRelatedInformation1">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text"/>
			<xs:element name="DtOfSgntr" type="ISODate"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails1" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max128Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameAndAddress3">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="Adr" type="PostalAddress1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAndAddress7">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification2">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="IBEI" type="IBEIIdentifier" minOccurs="0"/>
			<xs:element name="BEI" type="BEIIdentifier" minOccurs="0"/>
			<xs:element name="EANGLN" type="EANGLNIdentifier" minOccurs="0"/>
			<xs:element name="USCHU" type="CHIPSUniversalIdentifier" minOccurs="0"/>
			<xs:element name="DUNS" type="DunsIdentifier" minOccurs="0"/>
			<xs:element name="BkPtyId" type="Max35Text" minOccurs="0"/>
			<xs:element name="TaxIdNb" type="Max35Text" minOccurs="0"/>
			<xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification2"/>
				<xs:element name="PrvtId" type="PersonIdentification3"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification8">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0"/>
			<xs:element name="Id" type="Party2Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification9">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Nm" type="Max70Text"/>
				<xs:element name="Id" type="Party2Choice"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification10">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0"/>
			<xs:element name="Id" type="Party2Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CORT"/>
			<xs:enumeration value="SALA"/>
			<xs:enumeration value="TREA"/>
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="DIVI"/>
			<xs:enumeration value="GOVT"/>
			<xs:enumeration value="INTE"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="PENS"/>
			<xs:enumeration value="SECU"/>
			<xs:enumeration value="SSBE"/>
			<xs:enumeration value="SUPP"/>
			<xs:enumeration value="TAXS"/>
			<xs:enumeration value="TRAD"/>
			<xs:enumeration value="VATX"/>
			<xs:enumeration value="HEDG"/>
			<xs:enumeration value="INTC"/>
			<xs:enumeration value="WHLD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="EndToEndId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionInformation2">
		<xs:sequence>
			<xs:element name="PmtInfId" type="Max35Text" minOccurs="0"/>
			<xs:element name="PmtMtd" type="PaymentMethod2Code"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation2"/>
			<xs:element name="ReqdColltnDt" type="ISODate"/>
			<xs:element name="Cdtr" type="PartyIdentification10"/>
			<xs:element name="CdtrAcct" type="CashAccount7"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification3"/>
			<xs:element name="CdtrAgtAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification9" minOccurs="0"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
			<xs:element name="ChrgsAcct" type="CashAccount7" minOccurs="0"/>
			<xs:element name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
			<xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTypeInformation2">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			<xs:choice>
				<xs:element name="SvcLvl" type="ServiceLevel3Choice" minOccurs="0"/>
				<xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/>
			</xs:choice>
			<xs:element name="LclInstrm" type="LocalInstrument1Choice"/>
			<xs:element name="SeqTp" type="SequenceType1Code"/>
			<xs:element name="CtgyPurp" type="PaymentCategoryPurpose1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonIdentification3">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DrvrsLicNb" type="Max35Text"/>
				<xs:element name="CstmrNb" type="Max35Text"/>
				<xs:element name="SclSctyNb" type="Max35Text"/>
				<xs:element name="AlnRegnNb" type="Max35Text"/>
				<xs:element name="PsptNb" type="Max35Text"/>
				<xs:element name="TaxIdNb" type="Max35Text"/>
				<xs:element name="IdntyCardNb" type="Max35Text"/>
				<xs:element name="MplyrIdNb" type="Max35Text"/>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
				<xs:element name="OthrId" type="GenericIdentification4"/>
			</xs:choice>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress1">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Purpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurposeCode"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentAmount1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DuePyblAmt" type="CurrencyAndAmount"/>
				<xs:element name="DscntApldAmt" type="CurrencyAndAmount"/>
				<xs:element name="RmtdAmt" type="CurrencyAndAmount"/>
				<xs:element name="CdtNoteAmt" type="CurrencyAndAmount"/>
				<xs:element name="TaxAmt" type="CurrencyAndAmount"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation1">
		<xs:sequence>
			<xs:element name="RfrdDocTp" type="ReferredDocumentType1" minOccurs="0"/>
			<xs:element name="RfrdDocNb" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType2Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryAuthority">
		<xs:sequence>
			<xs:element name="AuthrtyNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="AuthrtyCtry" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryReporting2">
		<xs:sequence>
			<xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0"/>
			<xs:element name="Authrty" type="RegulatoryAuthority" minOccurs="0"/>
			<xs:element name="RgltryDtls" type="StructuredRegulatoryReporting2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RemittanceInformation1">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceLocation1">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RmtLctnMtd" type="RemittanceLocationMethod1Code" minOccurs="0"/>
			<xs:element name="RmtLctnElctrncAdr" type="Max256Text" minOccurs="0"/>
			<xs:element name="RmtLctnPstlAdr" type="NameAndAddress3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RemittanceLocationMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceLevel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ServiceLevel2Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation2">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRegulatoryReporting2">
		<xs:sequence>
			<xs:element name="Cd" type="Max3Text" minOccurs="0"/>
			<xs:element name="Amt" type="CurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Inf" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation6">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation1" minOccurs="0"/>
			<xs:element name="RfrdDocRltdDt" type="ISODate" minOccurs="0"/>
			<xs:element name="RfrdDocAmt" type="ReferredDocumentAmount1Choice" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation1" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification8" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification8" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxDetails">
		<xs:sequence>
			<xs:element name="CertId" type="Max35Text" minOccurs="0"/>
			<xs:element name="TaxTp" type="TaxType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation2">
		<xs:sequence>
			<xs:element name="CdtrTaxId" type="Max35Text" minOccurs="0"/>
			<xs:element name="CdtrTaxTp" type="Max35Text" minOccurs="0"/>
			<xs:element name="DbtrTaxId" type="Max35Text" minOccurs="0"/>
			<xs:element name="TaxRefNb" type="Max140Text" minOccurs="0"/>
			<xs:element name="TtlTaxblBaseAmt" type="CurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TtlTaxAmt" type="CurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxDt" type="ISODate" minOccurs="0"/>
			<xs:element name="TaxTpInf" type="TaxDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element name="CtgyDesc" type="Max35Text" minOccurs="0"/>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0"/>
			<xs:element name="TaxblBaseAmt" type="CurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Amt" type="CurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="UPICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CstmrDrctDbtInitn">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader1"/>
			<xs:element name="PmtInf" type="PaymentInstructionInformation2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
